{% extends "base_generic.html" %}
{% block content %}
<section id="about-header"
    class="jumbotron text-center d-flex justify-content-center align-items-center mb-0 header-mobile">
    <h2 class="display-4 mt-5">Login</h2>
    <div class="geometric-pattern"></div>
</section>
<section id="content" class="text-md-left text-center">
  <div class="container-fluid">
      <div style='display:inline' class="row align-items-center px-3 py-4 grey-background">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class='text-center login'>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input class='my-3' type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  {# Assumes you setup the password_reset view in your URLconf #}
  <div class='col-12 text-center'><p><a href="{% url 'password_reset' %}">Lost password?</a></p></div>
  <div class='col-12 text-center'><p><a href="{% url 'logout' %}">Log Out</a></p></div>
</div>

  </div>
  </div>
  </section>
  
{% endblock %}