{% extends "base_generic.html" %}
{% block content %}
<section id="about-header"
    class="jumbotron text-center d-flex justify-content-center align-items-center mb-0 header-mobile">
    <div class="geometric-pattern"></div>
</section>
<section id="content" class="text-md-left text-center">
  <div class="container-fluid">
      <div class="row align-items-center px-3 py-4 grey-background">
  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
</div>
</div>
</section>

{% endblock %}