{% extends "base_generic.html" %}
{% block content %}
<section id="retreat-header"
    class="jumbotron text-center d-flex flex-column justify-content-center align-items-center mb-0 header-mobile">
    <h2 class="display-4 mt-5">Upcoming Retreats</h2>
    <div class="geometric-pattern"></div>
</section>
<section id="content" class="d-flex flex-column text-md-left text-center">
    <div class="container-fluid retreat">
        {% if event_list %}
        {% for event in event_list %}
        <div class="row align-items-center px-2 py-3 color-background">
            <div class="col-md-3 px-0 order-2 order-md-1">
                {% load static %}
                <img src="{% static 'img/cacao2.jpg' %}" />
            </div>
            <div class="col-md-9 px-lg-4 px-4 py-4 mt-5 mt-lg-0 order-1 order-md-2">
                <h2 class="display-5 mb-3">{{ event.title }}</h2>
                <p class="card-date"><strong>{{ event.start_date|date:'F j'}} -
                    {% if event.months_different %}
                    {{ event.end_date|date:'j' }}
                    {% else %}
                    {{ event.end_date|date:'F j' }}
                    {% endif %}</strong></p>
                <p>{{ event.short_description }}</p>
                <a href="{{ event.get_absolute_url }}" class="btn rounded-0 btn-sm" id="btn-custom">Learn
                    More</a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}